<h1>Flexible Payment</h1>

<p>A <%= @num_years %> loan of <%= @principal %>, with an annual interest rate of <%= @rate %>% is $<%= number_with_precision(@payment, :precision =>2, :delimiter => ',') %></p>
